body {
    margin: 10px;
}

.coin {
    min-width: 3rem;
    margin: 0 4px 4px 0;
    border-radius: 3rem;
    height: 3rem;
}

.coins {
    min-height: 3.5rem;
}

.pass {
    margin-top: 4px;
}

#player,
.player-name .btn {
    margin-bottom: 8px;
}

#customer {
    border: #ffaa00 1px solid;
}

#rounds button {
    margin: 0 2px 2px 0;
    background-color: #8637cc;
    border-color: #431c66;
}

#rounds button:active,
#rounds button:focus {
    box-shadow: 0 0 0 0.2rem rgba(67, 28, 102,.5)
}