<html>

<head>
  <title>Game of Flow</title>
  <script src="js/vue.js"></script>
  <script src="js/pusher.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div id="app">
    <div class="container-fluid">
      <h1 class="p-3 mb-3 bg-dark rounded text-light">Game of Flow</h1>
      <div class="row" v-if="subscribed === false">
        <div class="col-sm-12">
          <form class="form-inline player-name" v-on:submit.prevent>
            <input v-model="personName" v-on:keyup.enter="joinGame()" placeholder="Your name" type="text" name="playername"
              class="form-control" id="player" autocomplete="off" required autofocus>&nbsp;
            <button type="submit" v-on:click="joinGame()" class="btn btn-primary">Join</button>
          </form>
        </div>
      </div>
      <div class="row" v-else>
        <div class="col-lg-7">
          <h2>Players</h2>
          <div id="players">
            <div class="list-group-item" v-for="player in state.players" :id="player.info.unique">
              <h4>{{player.id}}</h4>
              <fieldset :id="['fieldset_' + player.info.unique]" disabled>
                <div :id="['coins_' + player.info.unique]" class="coins">
                  <button type="button" v-for="coin in player.info.coins" v-on:click="toggle"
                    class="coin btn btn-primary" :id="['coin_' + coin.id]" :data-id="coin.id"
                    :data-player="player.info.unique"
                    v-bind:class="{ 'btn-success': coin.selected }">{{coin.id + 1}}</button>
                </div>
              </fieldset>
              <button type="button" class="pass btn btn-dark" v-on:click="pass" disabled>Pass Coins</button>
            </div>
          </div>
          <br />
          <div id="customer" class="list-group-item">
            <h4>{{state.customer.id}}</h4>
            <div id="coins_customer" class="coins">
              <fieldset id="fieldset_customer">
                <button type="button" v-for="coin in state.customer.info.coins" class="coin btn btn-primary"
                  :id="['coin_' + coin.id]" :data-id="coin.id">{{coin.id + 1}}</button>
              </fieldset>
            </div>
          </div>          
          <br />
        </div>
        <div class="col-lg-5">
          <h2>Rounds</h2>
          <div id="rounds" class="table-responsive">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th>&nbsp;</th>
                  <th v-for="(round, index) in state.customer.info.rounds">
                    <button type="button" v-on:click="roundStart" class="btn btn-primary" :data-id="index"
                      :title="['Batches of ' + state.batches[index]]" disabled>{{state.batches[0]/state.batches[index]}}
                      x {{state.batches[index]}}</button></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="player in state.players">
                  <td>{{player.id}}</td>
                  <td v-for="round in player.info.rounds">{{round.duration}}</td>
                </tr>
                <tr>
                  <td>1st to Customer</td>
                  <td v-for="round in state.customer.info.rounds">{{round.first}}</td>
                </tr>
                <tr>
                  <td>All to Customer</td>
                  <td v-for="round in state.customer.info.rounds">{{round.duration}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var channel = null;
    var gameId = '101';
    var gameChannel = 'presence-game' + gameId + '-channel';
    var me = null;
    var personName = null;
    var pusher = null;
    var state = {
      batches: [16, 8, 4, 2],
      customer: {
        id: 'The Customer',
        info: {
          coins: [],
          order: 0,
          remaining: 0,
          rounds: [{
            duration: null,
            first: null,
            start: null
          }, {
            duration: null,
            first: null,
            start: null
          }, {
            duration: null,
            first: null,
            start: null
          }, {
            duration: null,
            first: null,
            start: null
          }],
          unique: 'customer'
        }
      },
      players: [],
      round: 0,
    };

    Vue.config.devtools = true;

    var app = new Vue({
      el: '#app',
      data: {
        personName: '',
        subscribed: false,
        state: state
      },
      methods: {
        joinGame: function (event) {
          if (!this.personName) {
            return;
          }
          this.subscribed = true;
          joinGame(this.personName);
        },
        pass: function (event) {
          passClick();
        },
        roundStart: function (event) {
          var round = parseInt(event.target.getAttribute('data-id'), 0);
          roundClick(round);
        },
        toggle: function (event) {
          var coinId = parseInt(event.target.getAttribute('data-id'), 0);
          coinClick(coinId);
        }
      }
    });

    //enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    function newMemberAdded(member) {
      state.players.push(member);
      memberAdded(member);
    }

    //add member to UI
    function memberAdded(member) {
      if (me.info.unique === member.info.unique) {
        findPlayer(member.info.unique).player.id += ' (you)';
      }

      //Enable the rounds buttons for the first player only (Host)
      if (me.info.unique === state.players[0].info.unique) {
        enableRounds();
      }
    }

    //remove member from state
    function memberRemoved(member) {
      var index = findPlayer(member.info.unique).index;
      state.players.splice(index, 1);
    }

    //create coins
    function createCoins() {
      var coins = [];
      for (var i = 0; i < state.batches[0]; i += 1) {
        var coin = {
          id: i,
          selected: false
        };
        coins.push(coin);
      }

      return coins;
    }

    function startEvent(data) {
      state.round = data.round;

      //reset player data
      state.players.forEach(function(player) {
        me.info.coins = [];
        me.info.remaining = state.batches[0];
        player.info.coins = [];
        player.info.remaining = state.batches[0];
        player.info.rounds[state.round].duration = null;
        player.info.rounds[state.round].start = null;
      });
            
      //create coins and count for the first player
      state.players[0].info.coins = createCoins();
      state.players[0].info.rounds[state.round].start = data.start; //player 1

      //clear the customer coin data
      state.customer.info.coins = []; 
      state.customer.info.rounds[state.round].duration = null;
      state.customer.info.rounds[state.round].first = null;
      state.customer.info.rounds[state.round].start = data.start; //customer start
      
      //enable fieldset for the local player (you)
      document.querySelector('#fieldset_' + me.info.unique).removeAttribute('disabled'); 
    }

    //pusher event UI update coin flipped status
    function coinEvent(data) {
      //update player UI by updating coin selected state for this player
      if (me.info.unique !== data.unique) {
        var player = findPlayer(data.unique).player;
        var coin = getCoinById(player.info.coins, data.coin.id);
        coin.selected = data.coin.selected;
      }
    }

    //pusher event passes batches of coins between players
    function batchEvent(data) {
      var batch = data.to_player.info.coins;
      var fromPlayer = findPlayer(data.from_player.info.unique).player;
      var toPlayer = findPlayer(data.to_player.info.unique).player;
      var coins = [];

      //console.log('batchEvent RX', data);

      //batch from player
      if (fromPlayer) {
        //may not be up to date for this player due to latency - may need to use server state for batch pass events
        coins = fromPlayer.info.coins;
        fromPlayer.info.coins = coins.filter(function (coin) {
          return !coin.selected;
        });
        fromPlayer.info.remaining = data.from_player.info.remaining;
        fromPlayer.info.rounds = data.from_player.info.rounds;
      }

      //batch to player
      if (toPlayer) {
        coins = toPlayer.info.coins;
        coins.push(...batch);
        //ensure the lower remaining value is used so we don't mistakenly think we have 
        //more coins left than we do due to network latency
        toPlayer.info.remaining = Math.min(toPlayer.info.remaining, data.to_player.info.remaining);
        toPlayer.info.rounds = data.to_player.info.rounds;
      }

      //batch to customer
      if (data.to_player.info.unique === 'customer') {
        coins = state.customer.info.coins;
        coins.push(...batch); 
        state.customer.info.rounds = data.to_player.info.rounds;
      }
    }

    function getSelectedCoins(playerCoins) {
      var selected = playerCoins.filter(function (coin) {
        return coin.selected;
      });
      return selected;
    }

    function getCoinById(playerCoins, id) {
      var result = playerCoins.filter(function (coin) {
        return coin.id === id;
      });
      return result[0];
    }

    //click a coin
    function coinClick(coinId) {
      var coinElem = document.querySelector('#coin_' + coinId);
      var playerId = coinElem.getAttribute('data-player');
      var player = findPlayer(playerId).player;
      var playerCoins = player.info.coins;
      var coin = getCoinById(playerCoins, coinId);
      var selectedCoins = null;

      disablePass();

      //toggle the coin status
      if (coin.selected) {
        coin.selected = false;
      } else {
        coin.selected = true;
      }

      selectedCoins = getSelectedCoins(playerCoins);

      //batch of selected coins is ready for this round
      if (selectedCoins.length === state.batches[state.round]) {
        enablePass();
      }

      //broadcast the coin flip for everyone to see
      coinFlip({
        coin: coin
      });
    }

    //return player object from array of players by unique id
    function findPlayer(unique) {
      for (var i = 0; i < state.players.length; i += 1) {
        if (state.players[i].info.unique === unique) {
          return ({
            player: state.players[i],
            index: i
          });
        }
      }
      return false;
    }

    //player clicks to pass a batch
    function passClick() {
      var fromPlayer = findPlayer(me.info.unique).player;
      var toPlayer = null;
      disablePass();

      if (state.players.length > 1) {
        //find the next player to pass to (next highest order value)
        for (var i = 0; i < state.players.length; i += 1) {
          if (state.players[i].info.order > me.info.order) {
            toPlayer = state.players[i];
            break;
          }
        }

        //no more players so pass to customer
        if (toPlayer === null) {
          toPlayer = state.customer;
        }

        passBatch(fromPlayer, toPlayer);
      } else {
        alert('Only one player available. You\'ll need more players.');
      }
    }

    //CALLS TO BACK-END SERVER

    //API coin event trigger for Pusher
    function coinFlip(coin) {
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/coinFlip');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function () {
        if (xhr.status === 200) {
          var response = JSON.parse(xhr.responseText);
        }
      };
      xhr.send(JSON.stringify({
        coin: coin.coin,
        unique: me.info.unique
      }));
    }

    //API batch event trigger for Pusher
    function passBatch(fromPlayer, toPlayer) {
      var batchSize = state.batches[state.round];
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/passBatch');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function () {
        if (xhr.status === 200) {
          var response = JSON.parse(xhr.responseText);
        }
      };
      xhr.send(JSON.stringify({
        batches: state.batches,
        round: state.round,
        from_player: fromPlayer,
        to_player: toPlayer
      }));
    }

    //API start new round event trigger for Pusher
    function triggerRoundStart(round) {
      state.round = round;     

      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/triggerRoundStart');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function () {
        if (xhr.status === 200) {
          var response = JSON.parse(xhr.responseText);
        }
      };
      xhr.send(JSON.stringify({
        round: round
      }));
    }

    // PUSHER SETUP AND BINDINGS FOR CHANNELS AND EVENTS

    //pusher subscribe
    function subscribeAndBind() {
      pusher = new Pusher("47cce9c74d6dd840dac6", {
        cluster: "eu",
        useTLS: true,
        authEndpoint: '/pusher/auth'
      });

      //authenticate member using presence- prefix
      channel = pusher.subscribe(gameChannel);

      //listen for members added or removed
      channel.bind("pusher:member_added", newMemberAdded);
      channel.bind("pusher:member_removed", memberRemoved);

      //listen for coin and batch events
      channel.bind("coin-event", coinEvent);
      channel.bind("batch-event", batchEvent);
      channel.bind('round-started-event', startEvent);

      //add members when subscription is successful
      channel.bind("pusher:subscription_succeeded", function (members) {
        me = channel.members.me;

        members.each(function (member) {
          state.players.push(member);
        });

        //trick to keep the order that players joined the session
        state.players.sort((a, b) => (a.info.order > b.info.order) ? 1 : -1);

        //render in the UI
        for (var i = 0; i < state.players.length; i += 1) {
          memberAdded(state.players[i]);
        }
      });
    }

    // UI BUTTON BINDINGS & INTERACTION MANAGEMENT
    function enableRounds() {
      document.querySelectorAll('#rounds button').forEach(
        b => b.removeAttribute('disabled')
      );
    }

    function enablePass() {
      document.querySelector('#' + me.info.unique + ' button.pass').removeAttribute('disabled');
    }

    function disablePass() {
      document.querySelector('#' + me.info.unique + ' button.pass').setAttribute("disabled", "disabled");
    }

    //round click
    function roundClick(round) {
      disablePass();
      triggerRoundStart(round);
    }

    // INITIALISATION
    function joinGame(personName) {
      document.cookie = 'user_id=' + personName;
      //need to work out how to recieve a server assigned game id based on routing or something else?
      subscribeAndBind();
    }

    //focus on the player name input element
    //document.querySelector('#personName').focus();

    document.cookie = '';

    //prevent accidental reload/refresh of page
    window.addEventListener('beforeunload', function (e) {
      e.preventDefault();
      e.returnValue = '';
    });
  </script>
</body>

</html>